:root {
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-veru-dark-cyan: hsl(179, 100%, 13%);

  // paragraphs
  --clr-transparet-white: hsla(0, 0%, 100%, 0.75);

  // background, headings, buttons
  --clr-very-light-gray: hsl(0, 0%, 95%);
 
  --clr-white: hsl(0, 0%, 100%);
}